<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="close()">
        <span>Home</span>
    </a>
    <a mat-list-item routerLink="/bookings" (click)="close()">
        <span>Bookings</span>
    </a>
    <a mat-list-item routerLink="/profile" (click)="close()">
        <span>Profile</span>
    </a>
    <a mat-list-item routerLink="/more" (click)="close()">
        <span>More</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close()">
        <span>Login</span>
    </a>
    <a mat-list-item routerLink="/register" (click)="close()">
        <span>Register</span>
    </a>
</mat-nav-list>
