div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
}

.add-more-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

mat-form-field {
    width: 300px;
}

.form-container {
    max-width: 300px;
    width: 100%;
    margin: auto;
}

button {
    width: 100%;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}