<mat-sidenav-container>
    <mat-sidenav #sidenav position="end">
        <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>CloudCruise</div>
            <div class="navigation-wrapper">
                <ul class="navigation-items">
                    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                    <li><a routerLink="/bookings" routerLinkActive="active">Bookings</a></li>
                    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
                    <li><a routerLink="/more" routerLinkActive="active">More</a></li>
                    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
                    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
                </ul>
            </div>
            <div class="hamburger-menu-wrapper">
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>